.cont{
	background-image: linear-gradient(to top right, #4158D0, #C850C0, #FFCC70);
	width: auto;
	height: 663px;
	border-bottom-left-radius: 145px;
	padding-right: 0;
    padding-left: 0;
}

html {
  scroll-behavior: smooth;
}

.perkenalan{
	margin-top: 100px;
}

.perkenalan div{
	color: white;
/*	margin: 0;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);*/
}

a{
	text-decoration: none;
}


.perkenalan div:first-child{
	font-size: 30px;
	font-weight: 700;
	line-height: 45px;
	margin-bottom: 10px;
	color: rgba(255, 255, 255, 0.5);
}

.perkenalan div:nth-child(2){
	font-size: 42px;	
	line-height: 140%;
	font-weight: bold;
}

.perkenalan div:nth-child(3){
	font-size: 16px;
	line-height: 178%;
	margin-top: 35px;
	width: 464px;
}

.tombol-hero{
	margin-top: 72px;
}

.tombol-sosmed {
    height: 60px;
    width: 60px;
    background-color: white;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.tombol-sosmed i{
	font-size: 18px;
	color: #c151c1;
}

.tombol-kontak{
	color: white;
	font-weight: bold;
	font-size: 14px;
	padding: 20px 50px;
	background: #FE2E63;	
	box-shadow: 0px 8px 20px rgba(254, 46, 99, 0.5);
	border-radius: 31px;
	opacity: 0.8;
	transition: 0.3s;
}

.tombol-kontak:hover{
	opacity: 1;
	color: white;
}

.tombol-cv{
	font-family: Poppins;
	font-weight: bold;
	padding: 20px 50px;
	color: white;
	margin-left: 20px;	
	font-size: 14px;
	line-height: 150%;
	border: 1px solid #FFFFFF;
	box-sizing: border-box;
	filter: drop-shadow(0px 8px 20px rgba(222, 21, 55, 0.5));
	opacity: 0.8;
	transition: 0.3s;
	border-radius: 31px;
}

.tombol-cv:hover{
	opacity: 1;
	color: white;
}

.menu-nav{
	padding-top: 32px;
}

.menu{
	text-align: right;
}

.menu a{
	color: white;
	margin-right: 50px;
}

.menu a:last-child{
	margin-right: 0;
}

.nav-sosmed{
	position: fixed;
	top: 32px;
	left: 50%;
    transform: translate(-50%, 0);
}

.nav-sosmed a:first-child{
	margin-right: 8px;
}

.gambarku img{
	margin-top: 27px;
	width: 100%;
}

.projek-section{
	margin-top: 65px;
	margin-bottom: 220px;
}

.judul{
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	line-height: 75px;
	letter-spacing: 0.05em;
	text-transform: capitalize;
	color: #292929;
	margin-bottom: 50px;
}

.detail-projek{
	margin-top: 30px;
}

.detail-projek div:first-child{
	font-weight: bold;
	font-size: 30px;
	line-height: 45px;
	letter-spacing: 0.05em;
	text-transform: capitalize;
	color: #292929;
}

.detail-projek div:nth-child(2){
	margin-top: 10px;
	font-weight: bold;
	font-size: 20px;
	line-height: 30px;
	letter-spacing: 0.05em;
	/*color: #BABABA;*/
	color: rgba(186, 186, 186, 0.5);
	margin-bottom: 60px;
}

.tombol-study-case{
	font-weight: bold;
	font-size: 14px;
	line-height: 150%;
	color: #FFFFFF;
	background: linear-gradient(79.04deg, #4158D0 0%, #C850C0 59.93%, #FFCC70 116.16%);
	border-radius: 31px;
	padding: 20px 50px;
	opacity: 0.8;
	transition: 0.3s;
	margin-top: 50px;
}

.tombol-study-case:hover{
	opacity: 1;
	color: white;
}

.projek-section .projek-2{
	margin-top: 120px;
}

.desain-section div:nth-child(3){
	margin-top: 40px;
	margin-bottom: 50px;
}

.tombol-dribbble{
	margin-left: 0 !important;
	font-weight: bold;
	padding: 20px 50px;
	color: #7155CA;
	margin-left: 20px;	
	font-size: 14px;
	line-height: 150%;
	border: 1px solid #7155CA;
	box-sizing: border-box;
	opacity: 0.8;
	transition: 0.3s;
	border-radius: 31px;
}

.tombol-dribbble:hover{
	opacity: 1;
	color: #7155CA;	
}

.desain-section{
	margin-bottom: 220px;
}

.box-skill {
    background: #FFFFFF;
    /*box-shadow: 0px 16px 40px rgba(0, 0, 0, 0.1);*/
    box-shadow: 0 30px 40px 0 rgb(212 217 232 / 20%);
    border-radius: 20px;
    min-width: 100px;
    max-width: 100px;
    min-height: 100px;
    max-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 52%;
    text-align: center;
    /*margin-top: 20px;*/
    align-items: center;
    margin-right: 20px;
}

.flex-parent .box-skill:last-child{
	margin-right: 0;
}

.skill-section  .col-lg-3 .box-skill:first-child{
	margin-bottom: 30px;
}

.skill-section{
	margin-bottom: 220px;
}

.kontak-section{
	background: linear-gradient(194.94deg, #4158D0 10.53%, #C850C0 61.41%, #FFCC70 109.15%);
    width: 100%;
    height: 663px;
    border-radius: 0px 145px 0px 0px;
    padding-top: 170px;
    padding-bottom: 170px;    
}

.kontak-section div:first-child{
	font-size: 50px;
	font-weight: bold;
	line-height: 75px;
	letter-spacing: 0.05em;
	text-transform: capitalize;
	color: #FFFFFF;
	margin-bottom: 45px;
}

.kontak-section div:nth-child(3){
	margin-top: 90px;
}

.kontak-section div:nth-child(3) a{
	margin-right: 25px;
}

.kontak-section div:nth-child(3) a:last-child{
	margin-right: 0;
}

.flex-parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gambar-aku-resp{
	display: none;
}

.menu-resp{
	display: flex;
	padding-top: 32px;
	justify-content: space-between;
}

.menu-bars{
	display: flex;
	justify-content: space-around;
}

.menu-bars a{
	color: white;
	margin-right: 50px;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	text-transform: capitalize;
	color: #FFFFFF
}

.menu-bars a:last-child{
	margin-right: 0;
}

.tombol-bars{
	display: none;
	cursor: pointer;
}

.awal {
    text-align: center;
    margin-top: 73px;
    margin-bottom: 70px;
}

.awal div:first-child{
	font-weight: bold;
	font-size: 55px;
	line-height: 140%;
	letter-spacing: 0.05em;
	color: white;
	margin-bottom: 50px;
}

.cont1{
	height: 663px;
}

.bagian{
	margin-bottom: 70px;
}

.judul-bagian{
	font-weight: bold;
	font-size: 30px;
	line-height: 45px;
	letter-spacing: 0.05em;
	text-transform: capitalize;
	color: #292929;
	margin-bottom: 25px;
}

.isi-bagian{
	font-weight: normal;
	font-size: 18px;
	line-height: 35px;
	letter-spacing: -0.003em;
	color: #707070;
}

.gambar-bagian{
	text-align: center;
}

.tambahan-penjelasan{
	margin-bottom: 25px;
}

.sub-bagian{
	font-weight: bold;
	font-size: 25px;
	line-height: 37px;
	letter-spacing: 0.05em;
	text-transform: capitalize;
	color: #292929;
	margin-bottom: 25px;
}

.isi-bagian.bawah{
	margin-bottom: 0;
}

.isi-bagian.bawah ul li{
	list-style: none;		
}

.isi-bagian.bawah span{
	font-weight: bold;
}

.isi-bagian.bawah ul {
	padding-left: 0;
	margin-bottom: 0;
}

.gambar-bagian.atas{
	margin-bottom: 25px;
}


.projek-kiobu .bagian:last-child{
	margin-bottom: 180px;
}

.img-fluid{
	max-width: 60%;
}

.body-link{
	background: linear-gradient(79.04deg, #4158D0 0%, #C850C0 59.93%, #FFCC70 116.16%);
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	position: relative;
	overflow: hidden;
	align-items: center;
	justify-content: center;
}

.body-link img{
	display: none;
}

.semua-tombol{
	display: flex;
	flex-direction: column;
	z-index: 20;
}

.semua-tombol a{
	margin-bottom: 28px;
}

.semua-tombol a:last-child{
	margin-bottom: 0;
}

.tombol-utama{
	background: #FE2E63;
	box-shadow: 0px 7.8806px 19.7015px rgba(254, 46, 99, 0.5);
	border-radius: 30.5373px;
	padding: 25px 78px;
	min-width: 358px;
	max-width: 358px;
	font-weight: bold;
	font-size: 14px;
	line-height: 150%;
	text-align: center;
	color: #FFFFFF;
	transition: background 0.3s ease-out;
}

.tombol-utama:hover{
	background: #ed2c5d;
	color: white;
}

.tombol-kedua{
	background: rgba(255, 255, 255, 0.3);
	backdrop-filter: blur(20px);
	border-radius: 30.5373px;
	font-weight: bold;
	font-size: 14px;
	line-height: 150%;
	color: #FFFFFF;
	min-width: 358px;
	max-width: 358px;
	padding: 25px 68px;
	text-align: center;
	transition: background 0.3s ease-out;
}

.tombol-kedua:hover{
	background: rgba(255, 255, 255, 0.5);
	color: white;
}



@media screen and (max-width: 1200px) {
	.cont{
		height: 750px;
	}

	.box-skill {
	    margin-top: 20px;
	}

	.projek-section{
		margin-top: 200px;
	}

	.gambarku img {
    	margin-top: 70px;
    }

    .logo-vik img{
    	width: 100%;
    }

}

@media screen and (max-width: 992px) {
	.menu-resp{
		padding-top: 32px;
	}

	.menu a{
		color: white;
		margin-right: 25px;
	}

	.menu a:last-child{
		margin-right: 0;
	}

	.perkenalan {
	    z-index: 20;
	}

	.gambarku img {
	    margin-top: 55px;
	    width: 50%;
	    position: absolute;
	    right: 0;
	    top: 55px;
	    opacity: 0.6;
	}

	.projek-section{
		margin-top: 265px;
	}

	.nav-sosmed{
		display: none;
	}

	.body-link img{
		display: none;
	}

	.body-link{
		justify-content: center;
	}

}


@media screen and (max-width: 768px) {
	.cont1 {
	    height: 520px;
	}
	
	.menu a{
		color: white;
		margin-right: 15px;
		font-size: 14px;
	}

	.nav-sosmed{
		display: none;
	}
	
	.gambarku img {
	    margin-top: 79px;
	    width: 55%;
	}

	.desain-section .row .col-12:first-child {
	    margin-bottom: 20px;
	}

	.desain-section div:nth-child(3) {
	    margin-top: 20px;
	}

	.menu-resp {
	    display: flex;
	    justify-content: space-between;
	    background: transparent;
	    transition: background-color 2s ease-out;
	    position: fixed;
	    width: 100vw;
	    left: 0;
	    padding: 24px 30px;
	    z-index: 2000;
	}

	.nav-scroll{
	    background: linear-gradient(79.04deg, rgba(65, 88, 208, 0.6) 0%, rgba(200, 80, 192, 0.6) 59.93%, rgba(255, 204, 112, 0.6) 116.16%);
	    backdrop-filter: blur(20px);
	}

	.logo-vik img{
		width: 74px;
	}

	.menu-bars{
		position: fixed;
		top: 0;
		background: linear-gradient(79.04deg, #4158D0 0%, #C850C0 59.93%, #FFCC70 116.16%);
		width: 100vw;
		height: 100vh;
		z-index: 2000;
		display: flex;
	    flex-direction: column;
	    justify-content: space-around;
	    align-items: center;
	    padding: 124px 0 100px 0;
	    right: -100vw;
	    transition: 1s;
	}

	.tampil{
		right: 0;
	}

	.tampil-keluar{
		display: block !important;
		right: 30px !important;
	}

	.tombol-bars div:nth-child(2){		
		z-index: 2500 !important;		
		position: absolute;
		top: 24px;
		right: -100px;
		color: white;
		font-weight: normal;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: 0.03em;
		text-transform: capitalize;
		transition: 1s;
	}

	.menu-bars a{
		color: white;
		font-weight: bold;
		font-size: 25px;
		line-height: 37px;
		letter-spacing: 0.1em;
	}

	.tombol-bars{
		display: block;
	}

	.menu-bars a{
		margin-right: 0;
	}

	.body-link{
		background: linear-gradient(79.04deg, #4158D0 0%, #C850C0 59.93%, #FFCC70 116.16%);
		width: 100vw;
		height: 100vh;
		display: flex;
		flex-direction: column;
		position: relative;
		overflow: hidden;
		align-items: center;
		justify-content: center;
	}

	.body-link img{
		position: absolute;
		top: -12px;
		left: 24px;
		z-index: 10;
		opacity: 0.4;
	}

	.semua-tombol{
		display: flex;
		flex-direction: column;
		z-index: 20;
	}

	.semua-tombol a{
		margin-bottom: 28px;
	}

	.semua-tombol a:last-child{
		margin-bottom: 0;
	}

	.tombol-utama{
		background: #FE2E63;
		box-shadow: 0px 7.8806px 19.7015px rgba(254, 46, 99, 0.5);
		border-radius: 30.5373px;
		padding: 20px 78px;
		min-width: 300px;
		max-width: 300px;
		font-weight: bold;
		font-size: 12px;
		line-height: 150%;
		text-align: center;
		color: #FFFFFF;
		transition: background 0.3s ease-out;
	}

	.tombol-utama:hover{
		background: #ed2c5d;
		color: white;
	}

	.tombol-kedua{
		background: rgba(255, 255, 255, 0.3);
		backdrop-filter: blur(20px);
		border-radius: 30.5373px;
		font-weight: bold;
		font-size: 12px;
		line-height: 150%;
		color: #FFFFFF;
		min-width: 300px;
		max-width: 300px;
		padding: 20px 68px;
		text-align: center;
		transition: background 0.3s ease-out;
	}

	.tombol-kedua:hover{
		background: rgba(255, 255, 255, 0.5);
		color: white;
	}


}


@media screen and (max-width: 576px) {
	.container{
		padding-left: 30px;
		padding-right: 30px;
	}

	.menu-nav .col-12:first-child{
		text-align: center;
	}

	.menu {
	    margin-top: 18px;
	    text-align: center;
	    display: flex;
	    justify-content: space-between;
	}

	.cont{
		border-bottom-left-radius: 80px;
    	height: 650px;
	}

	.perkenalan div:first-child {
	    font-weight: bold;
	    font-size: 20px;
	    line-height: 30px;
	    color: rgba(255, 255, 255, 0.6);
	    margin-bottom: 12px;
	}

	.perkenalan div:nth-child(2) {
	    font-weight: bold;
	    font-size: 30px;
	    line-height: 140%;
	    margin-bottom: 0;
	}

	.perkenalan div:nth-child(3) {
	    font-size: 13px;
	    line-height: 190%;
	    margin-bottom: 40px;
	    margin-top: 25px;
	    width: auto;
	}

	.gambarku img {
	    margin-top: 30px;
	    width: 100%;
	    position: unset;
	    opacity: 1;
	}

	.tombol-hero {
	    margin-top: 50px;
	    display: flex;
	    flex-direction: column;
	}

	.judul {
	    font-weight: bold;
	    font-size: 25px;
	    line-height: 37px;
	    letter-spacing: 0.05em;
	    text-transform: capitalize;
	    color: #292929;
	    margin-bottom: 25px;
	}

	.detail-projek {
	    margin-top: 15px;
	}

	.detail-projek div:first-child{
		font-weight: bold;
		font-size: 18px;
		line-height: 27px;
		letter-spacing: 0.05em;
		text-transform: capitalize;
		color: #292929;
	}

	.detail-projek div:nth-child(2){
		margin-top: 3px;
		font-weight: bold;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: 0.05em;
		text-transform: capitalize;
		color: rgba(186, 186, 186, 0.5);
	}

	.tombol-study-case{
		margin-bottom: 45px;
	}

	.projek-section{
		margin-top: 250px;
		margin-bottom: 150px;
	}

	.desain-section .row .col-12:first-child{
		margin-bottom: 20px;
	}

	.desain-section div:nth-child(3){
		margin-top: 20px;
	}

	.desain-section {
	    margin-bottom: 150px;
	}

	.skill-section {
	    margin-bottom: 150px;
	}

	.kontak-section div:first-child{
		font-weight: bold;
		font-size: 25px;
		line-height: 37px;
		text-align: center;
		letter-spacing: 0.05em;
		text-transform: capitalize;
		color: #FFFFFF;
	}

	.kontak-section{
		padding: 138px 30px;
		height: auto;
		border-radius: 0px 0 0px 0px;
	}

	.tombol-kontak {
	    color: white;
	    font-weight: bold;
	    font-size: 14px;
	    padding: 20px 50px;
	    background: #FE2E63;
	    box-shadow: 0px 8px 20px rgba(254, 46, 99, 0.5);
	    border-radius: 31px;
	    opacity: 0.8;
	    transition: 0.3s;
	    margin-bottom: 25px;
	    text-align: center;
	}

	.tombol-cv {
	    text-align: center;
	    margin-left: 0 !important;
	    font-family: Poppins;
	    font-weight: bold;
	    padding: 20px 50px;
	    color: white;
	    margin-left: 20px;
	    font-size: 14px;
	    line-height: 150%;
	    border: 1px solid #FFFFFF;
	    box-sizing: border-box;
	    filter: drop-shadow(0px 8px 20px rgba(222, 21, 55, 0.5));
	    opacity: 0.8;
	    transition: 0.3s;
	    border-radius: 31px;
	}

	.perkenalan {
	    margin-top: 160px;
	    position: relative;
	}

	.projek-section .projek-2{
		margin-top: 100px;
	}

	.gambar-aku-resp {
	    top: -82px;
	    position: absolute;
	    width: 362px;
	    height: auto;
	    overflow: hidden;
	    right: -18px;
	    z-index: -6;
	    opacity: 0.3;
	}

	.gambar-aku-resp img {
	    margin: -13px -31px 0px 72px;
	    width: 462px;
	}

	.gambarku{
		display: none;
	}

	.gambar-aku-resp{
		display: block;
	}

	.menu{
		display: none;
	}

	.menu-nav {
	    padding-top: 32px;
	}

	.logo img{
		width: 79px;
	}


	.awal{
		margin-top: 116px;
		text-align: center;
		margin-bottom: 50px;
	}

	.awal div:first-child{
		font-weight: bold;
		font-size: 30px;
		line-height: 140%;
		letter-spacing: 0.05em;
		color: #FFFFFF;
		margin-bottom: 20px;
	}

	.cont1{
		border-bottom-left-radius: 80px;
		height: 351px;
	}

	.bagian{
		margin-bottom: 40px;
	}

	.projek-kiobu .bagian:last-child{
		margin-bottom: 150px;
	}

	.judul-bagian{
		font-weight: bold;
		font-size: 20px;
		line-height: 30px;
		letter-spacing: 0.05em;
		text-transform: capitalize;
		color: #292929;
		margin-bottom: 15px;
	}

	.isi-bagian{
		font-size: 15px;
		line-height: 28px;
		letter-spacing: -0.003em;
		color: #707070;
	}

	ol{
		padding-left: 15px;
		margin-bottom: 0;
	}

	.isi-bagian.tambahan-penjelasan{
		margin-bottom: 15px;
	}

	.sub-bagian{
		font-weight: bold;
		font-size: 18px;
		line-height: 27px;
		letter-spacing: 0.05em;
		text-transform: capitalize;
		color: #292929;
		margin-bottom: 15px;
	}

	.gambar-bagian.atas{
		margin-bottom: 15px;
	}

	.isi-bagian.bawah{
		margin-bottom: 0;
	}

	.isi-bagian.bawah ul li{
		list-style: none;		
	}

	.isi-bagian.bawah span{
		font-weight: bold;
	}

	.isi-bagian.bawah ul {
		padding-left: 0;
		margin-bottom: 0;
	}

	.img-fluid{
		max-width: 100%;
	}

	.body-link img{
		display: block;
	}

	.body-link{
		justify-content: unset;		
		align-items: center;
		padding: 193px 30px 124px 30px;
	}

}

@media screen and (max-width: 360px) {
	.flex-parent .box-skill:nth-child(even){
		margin-right: 0;
	}

}
