.cont{
	background-image: linear-gradient(to top right, #4158D0, #C850C0, #FFCC70);
	width: auto;
	height: 663px;
	border-bottom-left-radius: 145px;
	padding-right: 0;
    padding-left: 0;
}

html {
  scroll-behavior: smooth;
}

.perkenalan{
	margin-top: 100px;
}

.perkenalan div{
	color: white;
/*	margin: 0;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);*/
}

a{
	text-decoration: none;
}


.perkenalan div:first-child{
	font-size: 30px;
	font-weight: 700;
	line-height: 45px;
	margin-bottom: 10px;
	color: rgba(255, 255, 255, 0.5);
}

.perkenalan div:nth-child(2){
	font-size: 55px;	
	line-height: 140%;
	font-weight: bold;
}

.perkenalan div:nth-child(3){
	font-size: 16px;
	line-height: 165%;
	margin-top: 35px;
	width: 464px;
}

.tombol-hero{
	margin-top: 72px;
}

.tombol-kontak{
	color: white;
	font-weight: bold;
	font-size: 14px;
	padding: 20px 50px;
	background: #FE2E63;	
	box-shadow: 0px 8px 20px rgba(254, 46, 99, 0.5);
	border-radius: 31px;
	opacity: 0.8;
	transition: 0.3s;
}

.tombol-kontak:hover{
	opacity: 1;
	color: white;
}

.tombol-cv{
	font-family: Poppins;
	font-weight: bold;
	padding: 20px 50px;
	color: white;
	margin-left: 20px;	
	font-size: 14px;
	line-height: 150%;
	border: 1px solid #FFFFFF;
	box-sizing: border-box;
	filter: drop-shadow(0px 8px 20px rgba(222, 21, 55, 0.5));
	opacity: 0.8;
	transition: 0.3s;
	border-radius: 31px;
}

.tombol-cv:hover{
	opacity: 1;
	color: white;
}

.menu-nav{
	padding-top: 32px;
}

.menu{
	text-align: right;
}

.menu a{
	color: white;
	margin-right: 50px;
}

.menu a:last-child{
	margin-right: 0;
}

.nav-sosmed{
	position: fixed;
	top: 32px;
	left: 50%;
    transform: translate(-50%, 0);
}

.nav-sosmed a:first-child{
	margin-right: 8px;
}

.gambarku img{
	margin-top: 27px;
	width: 100%;
}

.projek-section{
	margin-top: 65px;
	margin-bottom: 220px;
}

.judul{
	font-family: Poppins;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	line-height: 75px;
	letter-spacing: 0.05em;
	text-transform: capitalize;
	color: #292929;
	margin-bottom: 50px;
}

.detail-projek{
	margin-top: 30px;
}

.detail-projek div:first-child{
	font-weight: bold;
	font-size: 30px;
	line-height: 45px;
	letter-spacing: 0.05em;
	text-transform: capitalize;
	color: #292929;
}

.detail-projek div:nth-child(2){
	margin-top: 10px;
	font-weight: bold;
	font-size: 20px;
	line-height: 30px;
	letter-spacing: 0.05em;
	/*color: #BABABA;*/
	color: rgba(186, 186, 186, 0.5);
	margin-bottom: 60px;
}

.tombol-study-case{
	font-weight: bold;
	font-size: 14px;
	line-height: 150%;
	color: #FFFFFF;
	background: linear-gradient(79.04deg, #4158D0 0%, #C850C0 59.93%, #FFCC70 116.16%);
	border-radius: 31px;
	padding: 20px 50px;
	opacity: 0.8;
	transition: 0.3s;
	margin-top: 50px;
}

.tombol-study-case:hover{
	opacity: 1;
	color: white;
}

.projek-section .projek-2{
	margin-top: 120px;
}

.desain-section div:nth-child(3){
	margin-top: 40px;
	margin-bottom: 50px;
}

.tombol-dribbble{
	font-weight: bold;
	padding: 20px 50px;
	color: #7155CA;
	margin-left: 20px;	
	font-size: 14px;
	line-height: 150%;
	border: 1px solid #7155CA;
	box-sizing: border-box;
	opacity: 0.8;
	transition: 0.3s;
	border-radius: 31px;
}

.tombol-dribbble:hover{
	opacity: 1;
	color: #7155CA;	
}

.desain-section{
	margin-bottom: 220px;
}

.box-skill {
    background: #FFFFFF;
    box-shadow: 0px 16px 40px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    min-width: 100px;
    max-width: 100px;
    min-height: 100px;
    max-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 52%;
    text-align: center;
    /*margin-top: 20px;*/
    align-items: center;
    margin-right: 20px;
}

.flex-parent .box-skill:last-child{
	margin-right: 0;
}

.skill-section  .col-lg-3 .box-skill:first-child{
	margin-bottom: 30px;
}

.skill-section{
	margin-bottom: 220px;
}

.kontak-section{
	background: linear-gradient(194.94deg, #4158D0 10.53%, #C850C0 61.41%, #FFCC70 109.15%);
    width: 100%;
    height: 663px;
    border-radius: 0px 145px 0px 0px;
    padding-top: 170px;
    padding-bottom: 170px;    
}

.kontak-section div:first-child{
	font-size: 50px;
	font-weight: bold;
	line-height: 75px;
	letter-spacing: 0.05em;
	text-transform: capitalize;
	color: #FFFFFF;
	margin-bottom: 45px;
}

.kontak-section div:nth-child(3){
	margin-top: 90px;
}

.kontak-section div:nth-child(3) a{
	margin-right: 25px;
}

.kontak-section div:nth-child(3) a:last-child{
	margin-right: 0;
}

.flex-parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}




@media screen and (max-width: 1200px) {
	.cont{
		height: 710px;
	}

	.box-skill {
	    margin-top: 20px;
	}


}

@media screen and (max-width: 992px) {
	.menu a{
		color: white;
		margin-right: 25px;
	}

	.menu a:last-child{
		margin-right: 0;
	}

	.perkenalan {
	    z-index: 20;
	}

	.gambarku img {
	    margin-top: 27px;
	    width: 50%;
	    position: absolute;
	    right: 0;
	    top: 55px;
	    opacity: 0.6;
	}

	.projek-section{
		margin-top: 265px;
	}

}


@media screen and (max-width: 768px) {
	.menu a{
		color: white;
		margin-right: 15px;
		font-size: 14px;
	}

	.nav-sosmed{
		display: none;
		position: fixed;
		top: 100px;
		left: 50%;
	    transform: translate(-50%, 0);
	}
	
}


@media screen and (max-width: 576px) {
	.menu-nav .col-12:first-child{
		text-align: center;
	}

	.menu {
		margin-top: 18px;
	    text-align: center;
	}

	.menu a{
		margin-right: 50px;
	}

	.cont{
		border-bottom-left-radius: 80px;
	}

	.perkenalan div:first-child {
	    font-weight: bold;
	    font-size: 20px;
	    line-height: 30px;
	    color: rgba(255, 255, 255, 0.6);
	    margin-bottom: 3px;
	}

	.perkenalan div:nth-child(2) {
	    font-weight: bold;
	    font-size: 30px;
	    line-height: 140%;
	    margin-bottom: 0;
	}

	.perkenalan div:nth-child(3) {
	    font-size: 13px;
	    line-height: 190%;
	    margin-bottom: 40px;
	    margin-top: 25px;
	    width: 300px;
	}

	.gambarku img {
	    margin-top: 27px;
	    width: 90%;
	    position: absolute;
	    right: -145px;
	    top: 90px;
	    opacity: 0.4;
	}

	.tombol-hero {
	    margin-top: 50px;
	    display: flex;
	    flex-direction: column;
	}

	.judul {
	    font-weight: bold;
	    font-size: 25px;
	    line-height: 37px;
	    letter-spacing: 0.05em;
	    text-transform: capitalize;
	    color: #292929;
	    margin-bottom: 25px;
	}

	.detail-projek {
	    margin-top: 15px;
	}

	.detail-projek div:first-child{
		font-weight: bold;
		font-size: 18px;
		line-height: 27px;
		letter-spacing: 0.05em;
		text-transform: capitalize;
		color: #292929;
	}

	.detail-projek div:nth-child(2){
		margin-top: 3px;
		font-weight: bold;
		font-size: 16px;
		line-height: 24px;
		letter-spacing: 0.05em;
		text-transform: capitalize;
		color: rgba(186, 186, 186, 0.5);
	}

	.tombol-study-case{
		margin-bottom: 45px;
	}

	.projek-section{
		margin-bottom: 200px;
	}

	.desain-section .row .col-12:first-child{
		margin-bottom: 20px;
	}

	.desain-section div:nth-child(3){
		margin-top: 20px;
	}

	.desain-section {
	    margin-bottom: 200px;
	}

	.skill-section {
	    margin-bottom: 200px;
	}

	.kontak-section div:first-child{
		font-weight: bold;
		font-size: 25px;
		line-height: 37px;
		text-align: center;
		letter-spacing: 0.05em;
		text-transform: capitalize;
		color: #FFFFFF;
	}

	.kontak-section{
		padding-top: 213.5px;
		padding-bottom: 213.5px;
		height: auto;
		border-radius: 0px 80px 0px 0px;
	}

	.tombol-kontak {
	    color: white;
	    font-weight: bold;
	    font-size: 14px;
	    padding: 20px 50px;
	    background: #FE2E63;
	    box-shadow: 0px 8px 20px rgba(254, 46, 99, 0.5);
	    border-radius: 31px;
	    opacity: 0.8;
	    transition: 0.3s;
	    margin-bottom: 25px;
	    text-align: center;
	}

	.tombol-cv {
	    text-align: center;
	    margin-left: 0 !important;
	    font-family: Poppins;
	    font-weight: bold;
	    padding: 20px 50px;
	    color: white;
	    margin-left: 20px;
	    font-size: 14px;
	    line-height: 150%;
	    border: 1px solid #FFFFFF;
	    box-sizing: border-box;
	    filter: drop-shadow(0px 8px 20px rgba(222, 21, 55, 0.5));
	    opacity: 0.8;
	    transition: 0.3s;
	    border-radius: 31px;
	}
	
}